<section class="py-10  border-t border-black">
    <!-- Impact Section Header -->
    <div class="mx-auto w-fit">
        <svg xmlns="http://www.w3.org/2000/svg" width="178" height="158" viewBox="0 0 178 158" fill="none">
            <g clip-path="url(#clip0_5974_11)">
                <path d="M173.657 81.8698C174.106 81.5717 174.63 81.2487 175.005 80.7517C177.226 79.8324 178.275 78.0931 177.975 75.8569C177.451 72.1796 176.877 68.8005 176.228 65.5207C175.729 63.0112 174.655 60.5762 172.858 57.8679C172.608 57.4952 172.459 56.9735 172.334 56.4268C172.109 55.5572 171.86 54.5882 171.011 53.8179C170.062 52.9483 168.739 52.1781 167.092 53.8179C165.719 55.1845 164.121 56.4268 162.499 57.4207C160.677 58.514 160.677 59.9302 160.827 60.7005C161.001 61.5452 160.876 62.3652 160.727 63.2597C160.652 63.7814 160.552 64.3281 160.527 64.8996C160.527 65.5456 160.527 66.2164 160.527 66.8376C160.527 68.7259 160.527 70.5149 159.928 72.2542C159.554 73.3474 160.128 74.3661 161.426 74.9128C161.775 75.0618 161.9 75.1364 161.975 75.2109C161.276 76.5775 160.677 77.9689 160.802 79.6585C159.653 78.9379 158.38 78.6398 157.182 78.3664C156.783 78.2671 156.358 78.1925 155.959 78.0683C154.137 77.5714 151.516 78.4907 150.567 79.8821C149.244 80.4536 149.095 81.3481 149.269 82.0935L149.145 82.491L148.645 82.5407C148.645 82.5407 148.62 82.5407 148.595 82.5407C147.747 81.3977 146.599 81.0002 145.251 81.3232C144.552 81.2238 144.052 81.5468 143.653 81.7953C143.528 81.8698 143.428 81.9444 143.304 81.9941C142.954 81.8947 142.68 81.9444 142.48 82.0189C142.155 82.1431 141.906 82.3668 141.731 82.7395L141.332 83.0625H140.907L140.882 82.8637C141.107 81.8201 140.932 80.8511 140.433 80.0063V78.9131C142.405 78.441 143.978 77.298 145.026 75.5588C146.574 72.9747 146.873 69.198 145.775 65.8934V65.0486C146.024 64.0299 145.725 63.1354 145.475 62.3403C145.375 62.0422 145.276 61.7689 145.226 61.5204C145.226 59.2345 143.903 57.6443 142.705 56.2529C142.33 55.8305 142.006 55.4081 141.681 54.9857C140.658 53.5695 139.959 52.0538 139.21 50.4388C138.736 49.4449 138.261 48.4014 137.712 47.4075C137.088 45.7428 136.514 44.9228 134.991 44.6495C133.469 44.3762 132.945 45.4695 132.67 46.0409C132.595 46.2149 132.52 46.3639 132.42 46.4882C130.299 49.271 129.101 52.5259 127.927 55.6317L127.728 56.1535C126.679 58.9612 125.806 62.0422 126.629 65.3716C126.704 65.6698 126.854 65.9431 126.954 66.1667C126.979 66.2164 127.004 66.2661 127.029 66.3158L127.079 66.7631C126.954 67.1357 126.979 67.4588 127.079 67.7569C123.31 66.5891 121.013 67.6078 119.141 71.31C119.016 71.5585 118.866 71.8566 118.767 72.1548C118.467 73.0741 118.167 73.571 117.843 73.7201C117.518 73.8692 117.019 73.7698 116.32 73.4716C114.598 72.7014 112.926 73.1486 111.328 73.5462C110.579 73.745 109.855 73.9189 109.156 73.9934C104.514 74.3661 100.919 76.8508 97.4245 79.2858C97.0501 79.5342 96.6757 79.8076 96.3013 80.056C95.7521 80.4287 95.5025 81.0002 95.2778 81.4723C95.0282 82.0438 94.8535 82.3916 94.4042 82.5904C92.607 83.4352 91.309 83.8327 89.6366 83.46C86.2418 82.6898 82.872 83.1867 79.627 83.7085C78.978 83.8079 78.329 83.9073 77.6551 84.0066C77.0809 84.0812 76.4819 84.1309 75.8828 84.1557C74.5848 84.2551 73.2369 84.3296 71.9389 84.8266C71.9888 82.6401 73.3867 80.379 75.3586 79.5342C80.276 77.4471 82.9718 73.3226 84.794 69.9683L84.9937 69.5956C85.7925 68.1296 86.6162 66.614 87.1654 64.9989C87.9891 62.564 87.7145 60.0793 86.3666 57.7686V57.694C87.3651 57.3959 88.1888 56.8741 89.0125 56.3771C89.5866 56.0293 90.1358 55.6814 90.7099 55.433C94.4291 53.8179 98.2982 51.9296 101.343 48.8734C102.966 48.4014 104.364 47.5069 105.687 46.6372C106.411 46.1652 107.085 45.7428 107.784 45.3701C109.406 44.5004 110.954 43.4817 112.426 42.4879C113.674 41.6679 114.972 40.7983 116.27 40.0529C119.64 38.1397 122.386 35.8538 124.608 33.1207C125.456 32.0771 125.032 31.0584 124.757 30.3875C124.608 30.0397 124.483 29.7167 124.533 29.493C125.007 26.4369 123.01 24.7473 121.238 23.2565C120.464 21.2688 118.642 21.3185 117.444 21.3682C117.144 21.3682 116.845 21.3682 116.595 21.3682C115.646 21.2936 114.698 21.3682 113.774 21.393C112.376 21.4676 111.053 21.5421 109.755 21.2191C108.832 20.9955 107.709 21.0949 106.685 21.4676C102.916 22.9087 99.047 24.0516 95.7771 24.9958C95.1281 25.1697 94.6788 25.5176 94.4292 25.9897H94.4042C93.88 26.4369 93.5555 26.7102 93.1312 26.7351C91.958 26.7351 91.1093 27.3314 90.3355 27.8532C89.961 28.1016 89.6116 28.3253 89.2372 28.4992C87.7644 29.1452 86.3167 29.9154 84.9188 30.6608C84.6443 30.8099 84.3697 30.959 84.0951 31.1081L83.9953 30.3875L83.9453 30.2881C82.5225 27.555 80.925 24.4492 80.0763 21.1446C79.8018 20.1507 79.1028 19.3556 78.1543 19.0077C78.0045 18.635 77.7299 18.3369 77.3555 18.163L76.9312 16.9952C76.7065 16.0758 76.1074 15.5044 75.2338 15.2807C74.6347 13.5415 73.4116 12.3488 72.2135 11.181C71.7142 10.6841 71.24 10.212 70.8156 9.71509C69.268 7.20558 67.1962 4.49729 63.7515 3.15557L63.3022 3.00649C61.7796 0.795135 59.2585 0.347895 57.2116 0.223661C50.7466 -0.198732 45.1303 0.347895 40.0382 1.86354C32.7994 4.0252 27.0333 8.10006 22.9146 13.9639C22.665 14.3117 22.4154 14.6347 22.1159 14.9577C21.1424 16.1255 20.069 17.4424 20.1938 19.5544C20.1189 19.7035 19.7445 20.0513 19.5199 20.2749C19.0206 20.747 18.4465 21.2688 18.122 21.9645C16.9488 24.4243 16.9738 26.9587 17.0237 29.4185C17.0237 30.2136 17.0237 31.0584 17.0237 31.8535C16.9239 34.2884 17.1236 36.7234 17.473 39.6056C17.7226 41.7921 18.0222 43.9041 18.796 45.867C19.2203 46.9603 19.5698 48.128 19.9192 49.2461C20.4684 51.0351 21.0425 52.8986 21.9661 54.6627C23.1393 56.8741 21.8413 59.1351 19.9442 60.2284C15.8006 62.6385 11.1079 65.3468 6.66472 68.3532C5.9658 68.8253 5.31681 69.3719 4.69277 69.9186C4.09369 70.4155 3.46966 70.9373 2.84562 71.3597C0.923592 72.4778 -0.0748658 74.8631 1.84961e-05 77.7453C0.0998643 81.3977 1.8222 84.8763 4.29339 86.3671C5.36673 87.0379 6.86441 87.4355 8.3621 87.51C13.8037 87.7336 19.5448 87.7088 24.5621 84.9011C26.584 83.7582 28.7806 82.8885 30.9023 82.0189C31.9507 81.5965 33.024 81.1741 34.0724 80.702C34.7963 80.379 35.5451 80.0063 36.269 79.6585C38.3158 78.6646 40.4376 77.6459 42.6841 77.3477C43.1334 77.298 43.5328 77.0993 43.9072 76.9502C45.2052 76.3539 46.0788 75.9563 46.4533 76.0557C46.8277 76.1551 47.3768 76.9999 48.0758 78.0683C48.8995 79.3603 50.0227 80.1306 51.0212 80.7269C51.77 81.1741 51.8949 81.2983 51.3707 82.2922C50.1476 84.5533 48.2505 86.0441 46.4283 87.3858C45.7044 87.9076 45.0055 88.4542 44.2816 88.976C42.6841 90.1935 41.0117 91.4606 39.2893 92.4794C37.4422 93.5975 35.9195 95.0386 34.4468 96.4548C33.4483 97.4238 32.4998 98.3183 31.4514 99.1134C26.4342 102.989 22.9146 107.909 21.0176 113.773C19.5698 118.196 19.3451 122.966 20.2937 127.911C20.3935 128.457 20.2937 129.004 20.1938 129.6C20.0441 130.42 19.8943 131.364 20.2687 132.408C20.4684 132.979 20.718 133.551 20.9676 134.122C21.4669 135.29 21.9661 136.408 22.1159 137.601C22.2157 138.297 22.7399 138.818 23.4139 138.893L23.6385 139.141C23.988 139.663 24.2625 140.309 24.5122 140.955C25.0363 142.247 25.6354 143.688 27.1331 144.558C27.1331 144.583 27.1581 144.608 27.183 144.657C27.4826 146.322 28.1815 148.484 30.7775 149.204C30.7775 150.124 31.5513 150.645 31.8508 150.819C32.3251 151.142 32.7994 151.465 33.2736 151.788C36.7682 154.198 40.3876 156.708 45.1802 156.758C45.954 156.758 46.7278 157.006 47.5266 157.279C48.4252 157.578 49.3488 157.876 50.3972 157.901C50.7466 157.901 51.0961 157.901 51.4455 157.901C56.2881 157.901 60.881 156.733 66.1978 154.994C68.9685 154.099 71.4896 152.285 73.5364 149.751C74.5598 148.484 75.2088 147.714 75.733 147.589C76.2572 147.465 77.1558 147.863 78.6535 148.509H78.7284C78.978 148.658 79.7269 148.981 80.5506 148.608H81.0748V148.633C83.0717 148.633 84.5195 147.54 85.7925 146.546C86.092 146.322 86.3666 146.123 86.6412 145.925H86.7161L86.8409 145.9C88.1139 146.198 88.9376 145.378 89.4868 144.806C89.5866 144.707 89.6865 144.608 89.7863 144.533C91.958 142.545 94.4291 139.713 94.4042 135.489C94.4042 133.551 94.1046 131.638 93.855 129.799C93.7552 129.054 93.6304 128.308 93.5555 127.563C93.4557 126.817 93.0313 126.47 92.6319 126.246V125.973V125.948C92.582 125.401 92.6569 125.028 92.8566 124.805C93.0812 124.556 93.5555 124.432 94.3043 124.382C97.4744 124.233 100.47 123.264 103.365 122.32C104.588 121.923 105.886 121.5 107.135 121.152C108.882 120.68 110.429 119.239 111.702 117.898C111.852 117.724 112.127 117.649 112.451 117.55C113 117.376 113.774 117.127 114.124 116.307C114.224 116.307 114.323 116.258 114.423 116.258C114.922 116.158 115.746 116.009 116.196 115.214C118.866 114.469 121.388 113.351 123.834 112.282C125.955 111.338 128.177 110.369 130.424 109.673H130.498C132.645 108.978 134.842 108.307 136.914 107.139C139.884 105.474 141.182 103.288 140.882 100.48C140.832 100.008 140.832 99.511 140.807 99.014C140.783 97.4735 140.733 95.7343 139.51 94.2186C139.485 94.1689 139.46 94.1192 139.435 94.0695C139.335 93.8459 139.185 93.5726 138.861 93.3738C138.711 93.2993 138.561 93.1999 138.386 93.1005C138.087 92.9266 137.563 92.6533 137.363 92.4545C137.388 92.3303 137.438 92.1812 137.463 92.057C137.612 91.3364 137.787 90.6656 138.137 90.0692C138.187 90.1438 138.236 90.2431 138.286 90.3177C139.16 91.7836 140.233 93.6223 142.779 93.4235C144.627 94.5416 146.349 93.349 146.948 92.9266C147.098 92.8272 147.273 92.7278 147.422 92.6284C147.747 92.4545 148.121 92.2309 148.446 91.9327C147.273 93.349 146.049 94.8149 146.024 96.9518V97.1754C145.95 98.2935 145.9 99.66 147.223 100.604C147.722 101.201 148.346 101.722 149.145 102.145C149.794 102.865 150.667 102.84 151.316 102.84C151.641 102.84 151.89 102.84 152.04 102.89L151.491 103.809C150.068 105.052 149.07 106.344 148.496 107.686C148.096 108.605 147.497 109.425 146.848 110.27C145.999 111.388 145.151 112.555 144.726 114.021C144.677 114.021 144.627 114.071 144.577 114.071C144.152 114.22 143.204 114.593 143.279 115.711C143.229 115.711 143.129 115.761 143.079 115.786C142.779 115.885 142.33 116.009 142.056 116.456C141.556 117.028 141.082 117.674 141.232 118.394C141.382 119.14 142.105 119.562 142.854 119.935L143.029 120.034L144.327 119.985H144.427C145.001 119.885 145.226 119.935 145.625 120.407C146.249 121.177 148.121 123.513 150.967 121.873C151.067 121.823 151.117 121.798 151.541 122.072C151.716 122.196 151.94 122.32 152.19 122.42C153.263 122.842 154.187 122.867 154.936 122.494C155.66 122.121 156.134 121.426 156.383 120.382C156.458 120.059 156.608 119.736 156.758 119.413C156.883 119.165 157.007 118.891 157.107 118.593C157.706 116.904 158.78 116.233 160.552 115.587C162.474 114.891 164.246 113.251 165.819 110.692C166.019 110.369 166.318 110.071 166.643 109.773C166.992 109.425 167.366 109.052 167.666 108.605C169.313 106.046 168.165 103.685 167.167 101.598L167.042 101.35C166.917 101.076 166.742 100.853 166.593 100.654C166.518 100.555 166.418 100.43 166.368 100.356C166.418 100.306 166.518 100.232 166.668 100.157C167.217 99.8588 167.142 99.2376 167.067 98.7904C167.067 98.7159 167.067 98.6413 167.042 98.5668L167.117 98.1196L170.362 94.7653C170.362 94.7653 170.462 94.7901 170.487 94.8149C170.911 94.964 171.335 95.0883 171.71 95.2622C171.835 95.3119 171.984 95.4113 172.134 95.5107C172.658 95.8337 173.757 96.5045 174.73 95.4858C175.604 94.5665 175.529 93.3242 174.53 92.0818C174.505 92.0321 174.48 91.9824 174.456 91.9327C174.231 91.4855 173.732 90.4916 172.484 90.8146H172.309L172.009 90.2183V89.8705C172.184 89.5226 172.409 88.8269 172.084 88.2057C171.885 87.8082 171.535 87.5349 171.011 87.3858C171.011 87.2119 170.961 87.0876 170.886 86.9634C170.936 86.4416 171.236 85.9695 171.61 85.4477C172.109 84.7023 172.658 83.8824 172.583 82.7643C172.733 82.3419 173.083 82.0935 173.657 81.7456V81.8698ZM163.023 87.3361C163.023 87.3361 162.948 87.1373 162.873 87.0131L162.923 86.4168C162.923 86.4168 163.023 86.2677 163.073 86.1434C163.173 85.9198 163.173 85.6962 163.073 85.4726V84.8763C163.073 84.7272 163.073 84.5781 163.048 84.429C163.048 84.28 162.998 84.0315 163.048 83.9569C163.073 83.8576 163.098 83.7582 163.123 83.6836L163.298 83.9321C164.097 85.0005 165.095 86.3174 166.917 86.3174C166.942 86.3174 166.992 86.3174 167.017 86.3174C167.017 86.9634 167.167 87.5597 167.317 88.0815C167.391 88.3051 167.441 88.5536 167.491 88.7772L167.541 88.9511C167.541 88.9511 167.616 89.2493 167.616 89.3735C166.343 89.6965 165.12 89.1996 163.822 88.7027C163.497 88.5784 163.173 88.4542 162.873 88.33C163.023 88.0566 163.173 87.7088 163.048 87.2864L163.023 87.3361ZM155.335 104.257L157.582 101.499C157.781 101.424 157.956 101.35 158.156 101.275C158.705 101.051 159.279 100.828 159.828 100.579C160.203 100.405 160.402 100.381 160.502 100.381C160.502 100.455 160.552 100.604 160.527 100.878C159.703 101.623 159.154 102.542 158.655 103.437C158.355 103.934 158.081 104.406 157.781 104.853C157.407 105.375 157.257 105.971 157.382 106.543C157.532 107.238 158.031 107.859 158.755 108.282C160.028 109.027 160.727 107.859 160.976 107.462C161.051 107.338 161.126 107.213 161.176 107.139C161.725 106.543 162 105.847 162.224 105.151C162.848 104.928 163.048 104.306 163.148 104.033C163.173 103.934 163.223 103.834 163.248 103.785L163.323 103.66C163.323 103.66 163.448 103.462 163.497 103.387C163.697 103.486 164.171 103.909 164.571 104.704C164.97 105.499 165.045 106.07 164.97 106.195L164.721 106.493C162.923 108.754 161.051 111.065 158.48 112.108C156.084 113.077 154.861 114.419 154.312 116.68C154.112 117.5 153.563 118.27 153.338 118.32C152.514 117.947 151.641 117.873 150.792 117.798C149.294 117.674 148.321 117.525 147.697 116.432V116.382C149.195 114.717 150.268 112.804 151.316 110.94C152.015 109.698 152.714 108.431 153.538 107.263C153.663 107.089 153.862 106.89 154.087 106.692C154.636 106.195 155.46 105.449 155.31 104.232L155.335 104.257ZM164.421 96.1318L164.321 96.1815C163.847 96.2064 163.348 96.1815 162.824 96.1815C161.625 96.1815 160.277 96.1318 159.029 96.6287L159.079 96.0076C159.903 95.5107 159.978 94.6162 160.003 94.0447C160.028 93.672 160.053 93.4235 160.153 93.3242C160.627 92.9763 160.727 92.5042 160.802 92.1563C161.775 92.2557 162.699 92.6036 163.672 92.9763C164.496 93.2993 165.345 93.6223 166.243 93.7962C165.469 94.2435 164.646 94.9392 164.446 96.1318H164.421ZM169.638 81.9941L169.563 80.8014C169.563 80.5033 169.563 80.1803 169.613 79.8324C169.688 79.0622 169.763 78.1925 169.313 77.298C169.289 77.2483 169.264 77.0993 169.239 76.975C169.164 76.5775 168.989 75.5091 167.791 75.5091C167.766 75.5091 167.716 75.5091 167.691 75.5091C166.118 75.5836 166.093 77.0496 166.093 77.621V77.8198C166.044 78.9379 166.044 80.056 166.068 81.2487C163.972 79.2609 163.922 78.7391 165.22 76.1302C165.469 75.6085 165.869 74.8134 165.145 73.9189C163.697 72.1051 163.073 70.6143 164.346 68.8253C164.571 68.5023 164.521 68.0799 164.371 67.8066C163.647 66.5643 163.897 65.2971 164.171 63.8311C164.371 62.7627 164.571 61.6695 164.396 60.5265C164.346 60.2284 164.421 59.9799 164.646 59.7314C165.02 59.2842 165.669 59.0109 166.118 58.9612C166.143 59.1848 166.118 59.6817 166.068 59.9551C166.068 60.1787 166.019 60.4023 166.019 60.6011C165.944 62.6882 165.894 64.7753 165.869 66.8127C165.869 67.8563 165.844 68.8999 165.819 69.9434C165.819 70.7137 165.994 71.31 166.418 71.7075C166.668 71.956 167.117 72.2293 167.891 72.1796C168.615 72.1299 169.039 71.8069 169.264 71.5336C169.638 71.0864 169.788 70.4652 169.713 69.695C169.663 69.2974 169.613 68.9247 169.538 68.552C169.438 68.0054 169.338 67.5084 169.338 66.9867C169.338 64.4026 169.239 61.7689 169.139 59.2345C169.363 59.8557 169.663 60.4272 170.112 60.9241C171.835 62.8124 172.409 65.1232 172.783 67.3345L172.908 68.0551C173.232 70.018 173.582 72.0554 173.881 74.0431C173.931 74.391 174.006 74.7388 174.106 75.0867C174.456 76.5278 174.555 77.1241 173.182 77.5714C172.583 77.7701 172.558 78.3913 172.534 78.8385C172.534 78.8882 172.534 78.9131 172.534 78.9628C172.259 79.2858 171.909 79.5839 171.535 79.8821C170.861 80.4287 170.112 81.0499 169.738 82.0189L169.638 81.9941ZM90.8347 120.059C90.2855 120.059 89.5117 120.109 89.0125 120.68C88.713 121.028 88.5632 121.475 88.6131 122.047V122.32C88.1139 124.283 88.5632 126.072 89.0125 127.811C89.1373 128.333 89.2871 128.905 89.4119 129.426C90.61 135.414 90.3105 137.924 86.2168 140.93C84.17 142.446 81.7487 143.514 79.2276 144.086L78.6036 141.8C79.2276 140.906 78.978 139.936 78.8033 139.489V139.39C79.2027 139.042 79.5272 138.495 79.3774 137.576L80.2511 135.39C80.5256 135.24 80.8002 135.067 80.9999 134.843C80.8252 136.682 81.549 138.644 82.6973 139.812C83.2464 140.384 83.7956 140.657 84.3198 140.657C84.3697 140.657 84.4196 140.657 84.4695 140.657C85.0187 140.607 85.468 140.284 85.8674 139.713C87.415 137.427 88.3136 135.191 88.5133 133.228C88.5882 131.364 87.8892 130.197 87.0905 129.178C86.5164 128.457 85.8424 128.085 85.1684 128.159C84.7191 128.209 84.0702 128.482 83.5959 129.501C83.1715 130.371 82.6224 131.24 82.0982 132.085C81.9734 132.284 81.8236 132.507 81.6988 132.706C81.549 132.93 81.4492 133.178 81.3493 133.427C81.2994 133.253 81.2245 133.079 81.0997 132.905C82.7472 131.24 83.546 129.103 83.4711 126.494C83.4461 125.476 82.872 124.581 81.9734 124.184C81.1497 123.811 80.2261 123.935 79.5022 124.532C75.5833 127.786 70.8406 128.606 65.8483 129.476H65.6736C65.3241 129.575 65.0745 129.774 64.8998 129.923H64.4505C63.6517 129.799 62.828 129.749 62.0292 129.7C60.3568 129.6 58.7593 129.501 57.2616 128.88C57.1368 128.333 56.7623 127.687 55.689 127.538L55.6141 127.439C56.0135 126.817 56.1882 126.097 56.0884 125.327V125.153C56.6625 124.904 57.3115 124.432 57.3115 123.488L57.5861 123.115C58.285 122.643 58.8092 122.022 59.3334 121.451C59.9324 120.78 60.5065 120.134 61.2554 119.736C65.1993 117.649 69.1182 116.009 73.5364 118.519C74.2853 118.941 75.4085 119.488 76.5068 119.115C77.1808 118.891 77.7299 118.345 78.1044 117.525C78.1543 117.45 78.2042 117.401 78.2292 117.326C79.1527 116.68 79.4024 115.736 79.627 114.941C79.7019 114.692 79.7518 114.469 79.8267 114.27C80.0514 114.195 80.301 114.046 80.5007 113.773C80.9749 113.624 81.3244 113.301 81.4991 112.854C83.0218 109.077 85.8923 106.12 88.4883 103.735C92.6319 99.9085 96.6757 96.9269 100.819 94.6162L100.969 94.5416C101.319 94.3677 101.768 94.1192 102.017 93.6223C102.267 93.6223 102.542 93.5726 102.816 93.4981C103.016 93.7962 102.941 94.0447 102.417 94.641C100.969 96.2809 99.6211 98.0699 98.3481 99.7843C97.4744 100.927 96.6008 102.12 95.6772 103.263C94.504 104.704 93.5805 106.319 92.6569 107.859C91.7083 109.45 90.7349 111.114 89.5617 112.531C88.9876 113.226 88.7379 113.872 88.8378 114.469C88.9376 115.189 89.4868 115.686 90.0359 116.059C90.3355 116.605 90.7099 116.953 91.1592 117.078C91.908 117.276 92.557 116.829 93.0063 116.531C93.1311 116.432 93.2809 116.332 93.3558 116.307C94.8535 115.636 96.3013 114.866 97.7241 114.121C100.145 112.829 102.641 111.512 105.287 110.791C107.085 110.294 108.682 109.425 110.205 108.605C111.553 107.884 112.826 107.189 114.224 106.716C114.249 106.716 114.273 106.716 114.298 106.692C112.801 108.406 111.503 109.996 110.829 112.059C110.829 112.059 110.779 112.059 110.779 112.083C110.404 112.257 109.93 112.506 109.78 113.028C109.231 114.792 107.459 115.661 105.812 116.307C101.518 118.022 96.4011 119.811 91.0344 120.059H90.8846H90.8347ZM75.5333 137.054C74.0856 137.874 74.2104 139.365 74.2853 140.284C74.2853 140.558 74.3352 140.806 74.3102 141.03C74.3102 141.502 74.1854 142.098 73.8859 142.347C73.6612 142.521 73.2868 142.57 72.6628 142.521C72.1635 141.75 71.3897 141.402 70.7657 141.079C70.6409 141.005 70.4911 140.955 70.3663 140.881C69.5426 139.787 68.9435 138.52 68.3444 137.228C68.2196 136.955 68.0948 136.682 67.9451 136.383L67.8702 136.234C67.8702 136.234 67.7953 136.085 67.8951 135.713C67.9451 135.464 68.0199 135.191 68.0199 134.868C68.0948 134.619 68.0948 134.396 68.0948 134.197C68.0948 134.197 68.0948 134.147 68.0948 134.122C71.4147 133.526 74.3851 132.681 77.1808 131.588C77.1808 131.588 77.1808 131.588 77.2057 131.588C77.2057 131.663 77.1558 131.712 77.1558 131.787C77.056 132.408 76.7564 133.004 76.432 133.65C75.9577 134.619 75.4085 135.737 75.5333 137.054ZM23.2391 122.171C23.2391 122.171 23.2391 122.072 23.2142 122.022L23.314 121.301V121.227C23.2391 120.457 23.4638 119.686 23.6884 118.891L23.7633 118.618V118.469C24.0129 115.438 25.4357 112.729 26.7836 110.444C28.6558 107.288 31.3516 104.58 34.1972 101.871C37.0927 99.1134 40.3627 96.753 43.5328 94.4919C46.2036 92.5787 48.9744 90.591 51.5204 88.3548C51.6203 88.2803 51.7201 88.1809 51.795 88.0815C51.82 88.0566 51.8699 88.007 51.8949 87.9821C51.9198 87.9821 51.9448 88.0318 51.9947 88.0566C55.2397 90.7401 59.4082 91.3364 62.7531 91.7836C65.1494 92.1067 69.1182 92.6533 71.24 89.1996C71.4397 89.1996 71.6643 89.1996 71.889 89.0754C73.8859 88.0566 76.0326 88.0566 78.3041 88.0566C78.7783 88.0566 79.2526 88.0566 79.7269 88.0566C80.9749 88.0318 82.248 87.9324 83.4711 87.833C86.3167 87.6094 89.0125 87.3858 91.7084 87.9821C92.3074 89.1499 93.4557 89.3984 94.3293 89.5723C94.9533 89.6965 95.4775 89.8208 95.802 90.1935C96.2264 90.6656 96.8504 90.8643 97.3996 91.0134C97.5493 91.0631 97.774 91.1128 97.9237 91.1873C97.7241 91.5103 97.0002 92.1067 95.9518 92.4794C95.9019 92.4794 95.827 92.5042 95.7771 92.5291C95.5275 92.5788 95.2029 92.6781 94.9284 92.9514C93.4307 94.4919 91.6834 95.6846 89.8362 96.9518C87.5648 98.5171 85.2184 100.107 83.3463 102.418C81.8486 104.282 80.4507 106.22 79.1028 108.133C78.0544 109.599 76.9811 111.114 75.8578 112.58C75.5833 112.928 75.5833 113.351 75.5583 113.649C74.3602 113.773 73.2119 113.773 72.0637 113.052C70.591 112.158 68.6689 112.282 67.346 112.555C62.4785 113.524 56.5127 115.463 53.4175 121.823L53.3676 121.972C53.2927 122.271 53.3676 122.544 53.4425 122.743C52.0696 123.438 52.0197 124.73 51.9697 125.699C51.9697 125.824 51.9697 125.923 51.9697 126.047C51.6452 126.768 51.6203 127.513 51.8449 128.234C51.7201 128.631 51.7451 128.979 51.9448 129.277C52.1445 129.575 52.469 129.774 52.8933 129.824L53.118 130.072C53.0431 130.495 53.118 130.867 53.2927 131.19C53.4924 131.538 53.8418 131.762 54.3161 131.886C55.5642 133.824 57.5861 133.998 59.3334 134.023L60.3069 134.098C60.7562 134.396 61.2554 134.421 61.7047 134.172H62.7531L59.2834 135.34C58.3349 135.365 57.5361 135.713 57.0868 136.284C56.7124 136.756 56.6126 137.352 56.7623 137.974C56.962 138.744 57.4363 139.315 58.0603 139.564C58.7592 139.837 59.6079 139.713 60.4566 139.216L61.1056 139.141C61.2304 139.141 61.3802 139.117 61.505 139.117C61.8545 139.092 62.2788 139.067 62.6782 138.918C63.5269 138.57 64.1509 138.52 64.5503 138.694C64.8998 138.868 65.1743 139.266 65.374 139.912C65.5488 140.458 65.9481 140.93 66.4973 141.179C66.4973 141.179 66.4973 141.179 66.4973 141.204C66.7968 142.844 67.9201 144.185 69.7423 145.105C70.4162 145.452 70.4662 145.651 70.4662 145.651C70.4662 145.701 70.4412 145.9 69.8671 146.496C69.3179 147.092 68.6689 147.589 67.97 148.136C67.6705 148.384 67.3709 148.633 67.0964 148.832L66.4224 149.329C63.5269 150.571 60.4566 151.391 57.0619 152.236C52.6437 153.354 48.4502 152.583 44.032 151.788C43.0086 151.59 41.9352 151.416 40.8869 151.242C40.8869 151.242 40.8369 151.217 40.8369 151.192C40.7621 151.118 40.6872 151.068 40.5873 151.018C39.6887 150.447 38.7651 149.925 37.8416 149.403C35.5701 148.086 33.2237 146.72 31.2268 144.956C31.1769 144.881 31.102 144.806 31.0271 144.732C31.0021 144.633 30.9772 144.508 30.9522 144.384C30.8274 143.763 30.6527 142.844 29.7291 142.347C29.6043 141.924 29.3297 141.601 28.9803 141.378L28.4311 139.961C28.3562 139.067 27.6573 138.794 27.2579 138.694C27.0582 137.874 26.4591 137.377 25.9849 137.005C25.7103 136.781 25.4108 136.533 25.3608 136.359C25.1861 135.713 25.0114 135.067 24.8367 134.421C24.2376 132.358 23.6884 130.395 23.6884 128.333C24.1377 126.296 23.988 124.258 23.2142 122.246L23.2391 122.171ZM31.5263 75.6333C31.102 75.7079 30.5029 75.8321 30.0536 76.3787C29.6043 76.5278 29.155 76.7017 28.6807 76.8508C27.4826 77.2483 26.2595 77.6459 25.1112 78.1925L24.5122 78.4658C20.8678 80.1554 17.4481 81.7456 13.5541 82.3419C12.8302 82.4661 12.0564 82.3419 11.2576 82.2674C10.0595 82.1183 8.81141 81.9692 7.51341 82.491C6.39015 82.491 5.66627 81.9692 5.09215 80.6772V79.9815C5.04223 79.2361 5.01727 78.5155 4.96735 77.7701V77.621C4.91742 76.8756 4.96735 76.5278 5.192 76.3539C6.11557 75.7327 6.9393 74.9873 7.7131 74.2916C8.58675 73.5213 9.38552 72.7759 10.359 72.1548C14.253 69.695 19.1205 66.614 23.8881 63.8808C25.1112 63.1851 26.2345 62.3155 27.3328 61.4707C29.0551 60.1538 30.6776 58.9115 32.6246 58.2655C36.2191 57.048 39.5889 55.259 42.8338 53.5446C44.3315 52.7495 45.8791 51.9296 47.4268 51.1842C53.3925 48.2771 59.4332 45.9912 64.5503 44.1526C65.1494 43.929 65.7734 43.7799 66.4474 43.6308C67.6705 43.3326 68.9435 43.0345 70.0418 42.2891C71.5145 41.2952 73.1121 40.6243 74.8095 39.9286L75.3836 39.6802C76.9062 39.0342 78.4788 38.413 79.9765 37.8167C83.6458 36.3756 87.415 34.8599 90.9595 32.8722C91.284 32.6983 91.6085 32.4498 91.908 32.2262C92.6319 31.7044 93.3059 31.2075 93.9798 31.3814C95.5774 31.7789 96.6757 31.1578 97.5992 30.5615C98.1484 30.2136 98.7225 30.0148 99.3715 29.7912C99.5462 29.7415 99.696 29.6918 99.8707 29.6173C105.113 27.7786 110.754 26.0145 116.82 26.5363C116.944 26.5363 117.144 26.6108 117.344 26.6854C117.793 26.8593 118.392 27.0829 119.066 26.8841C119.166 26.9835 119.266 27.0829 119.366 27.1575C119.74 27.4805 119.965 27.7289 120.09 28.0271C120.015 28.1762 119.965 28.3004 119.89 28.4495C119.391 29.493 118.941 30.5118 118.267 31.3565C118.068 31.4062 117.818 31.4808 117.618 31.6796C115.397 33.7667 112.701 35.3569 110.105 36.8725C108.907 37.5682 107.684 38.2888 106.51 39.059C105.412 39.7547 104.264 40.4256 103.141 41.0716C101.943 41.7673 100.67 42.4879 99.4963 43.2829C99.0221 43.6059 98.5478 43.9041 98.0735 44.2271C97.0751 44.898 96.0516 45.5937 95.0033 46.19C94.1546 46.6621 93.3308 47.159 92.4822 47.6311C88.5882 49.8922 84.5694 52.2029 80.4258 54.1658C79.652 54.5385 78.9031 54.9112 78.1293 55.2839C76.382 56.1535 74.5848 57.048 72.7377 57.7189C72.1635 57.9176 71.5894 58.1164 71.0153 58.3152C68.1697 59.2842 65.2243 60.2781 62.7281 62.241L62.3038 62.3403L62.2039 62.39C62.2039 62.39 61.9294 62.4397 61.7796 62.4397C61.3552 62.4397 60.4566 62.5143 60.0572 63.3839C59.8326 63.3094 59.558 63.3094 59.3084 63.4833C58.6594 63.9057 57.9355 64.179 57.1368 64.4523C56.0634 64.8499 54.9401 65.2474 53.9916 66.0922C53.8169 66.1419 53.6671 66.2413 53.5423 66.3655C53.3925 66.44 53.1679 66.4897 52.9183 66.5146C52.3442 66.614 51.5454 66.7382 51.0462 67.5581C50.522 67.7569 49.9728 67.9557 49.4486 68.1793C48.1007 68.7011 46.7029 69.2477 45.305 69.6701C44.057 70.0428 42.8838 70.5894 41.7855 71.1361C40.5873 71.7075 39.489 72.2542 38.2409 72.5772C36.6434 72.9996 35.1457 73.7947 33.7229 74.5649C33.1239 74.8879 32.4998 75.2109 31.8758 75.5091C31.7759 75.5588 31.6262 75.5836 31.4764 75.6085L31.5263 75.6333ZM49.0992 5.41662C50.2224 5.49116 51.3707 5.516 52.469 5.54085C55.6141 5.61539 58.6095 5.66508 61.4301 6.95711C61.5549 7.08134 61.7047 7.18073 61.8545 7.23042L67.4209 12.2743L67.7703 12.8458C67.8951 13.4918 68.1448 14.4111 69.1432 14.8335C69.1931 15.8771 69.942 16.3243 70.541 16.5479C70.6908 17.989 71.8141 18.5605 72.7377 18.8835C72.7377 18.9332 72.7377 18.9581 72.7626 19.0077C72.9373 19.6538 73.162 20.5234 74.1105 20.9955L74.3102 21.2439C74.5598 21.5421 74.8095 21.8154 75.0591 22.0887C75.9078 22.9832 76.1574 24.8467 75.8079 25.8157C74.7845 25.9151 73.8859 26.263 73.0122 26.6357C72.3383 26.909 71.6893 27.1823 71.0153 27.3065C68.2446 27.8283 65.5238 28.698 62.9028 29.5179C62.0292 29.7912 61.1306 30.0894 60.2569 30.3627C53.9417 32.2759 47.7513 34.6115 42.4345 36.6489C37.9164 38.3882 33.7978 40.9474 29.804 43.432C28.0567 44.5253 26.2595 45.6434 24.4622 46.6621C23.8632 47.0099 23.6635 46.9603 23.6385 46.9603C23.6385 46.9603 23.5137 46.8609 23.4139 46.3639C23.2641 45.6931 23.1393 44.9725 23.0394 44.2768C22.8647 43.2829 22.7149 42.2394 22.4154 41.1958C21.8163 39.0093 21.8413 36.7731 21.8662 34.4127C21.8662 32.8473 21.8912 31.2323 21.7165 29.667C21.2672 25.6915 23.1143 22.4366 25.0613 19.4301C27.3328 15.9019 29.8789 13.1439 32.6246 11.181C34.5716 9.78963 37.1926 8.10006 40.0631 7.23042C41.1365 6.90742 42.2597 6.73349 43.4329 6.53472C44.9805 6.28625 46.5531 6.03778 48.0758 5.44146L49.0492 5.39177L49.0992 5.41662ZM50.1226 74.2419C52.1195 73.5959 53.9916 72.6517 55.8138 71.7324L56.5377 71.3597C58.0354 70.6143 59.583 69.9186 61.0807 69.2726C63.7515 68.1048 66.5223 66.8873 69.0683 65.2722C69.3429 65.0983 69.5676 65.0238 69.7173 64.9989C69.7423 65.0735 69.7672 65.2971 69.7173 65.6946C69.5676 67.0364 69.3179 67.1606 68.5691 67.2351C67.0714 67.3842 66.7219 68.229 66.6471 68.7011C66.5472 69.2974 66.7219 70.167 67.995 70.9124C69.3928 71.7075 70.9404 71.6578 72.4381 70.7634C74.0357 69.8192 73.7361 68.3781 73.5614 67.4091C73.5115 67.2103 73.4865 67.0115 73.4615 66.8376L73.3617 65.1232C73.5115 64.9244 73.6612 64.6262 73.6363 64.2784C73.6363 64.1542 73.5863 64.0051 73.4865 63.8311L73.6113 63.3839C74.1854 63.1851 74.7845 63.0112 75.3586 62.8124C77.68 62.0919 80.0763 61.3465 82.0982 59.6569C82.5225 59.309 82.6973 59.4333 82.8221 59.5327C83.7207 60.1787 83.9204 61.744 83.2464 62.7627C82.9469 63.21 82.7472 63.7069 82.5475 64.179L82.3977 64.502C81.2745 67.1357 80.0014 69.2726 78.3789 71.2355C75.9577 74.217 72.7626 75.3848 69.3928 76.6272C68.7688 76.8508 68.1697 77.0744 67.5457 77.3229C66.5472 77.7204 65.4489 77.8695 64.3506 78.0186C63.1525 78.1925 61.9294 78.3664 60.8061 78.8385C60.0073 79.1864 59.2335 79.0125 58.3349 78.8137C57.7858 78.6895 57.2366 78.5652 56.6375 78.5652C56.1882 78.5652 55.7389 78.6398 55.2896 78.8385C54.6905 78.3664 54.0415 77.9689 53.4175 77.5962C52.0696 76.7763 50.7966 75.9812 49.9728 74.6395C49.873 74.4904 49.8231 74.391 49.7981 74.3164C49.848 74.2916 49.9479 74.2419 50.0976 74.1922L50.1226 74.2419ZM67.8452 84.1806C67.8452 84.1806 67.7953 84.3793 67.7703 84.4787C67.6705 84.8514 67.5207 85.4229 67.8702 85.9198C67.9451 86.0441 68.0449 86.1186 68.1447 86.218L67.9451 86.6404C63.6767 87.2367 59.9324 86.8392 56.5377 85.398C56.3879 85.3235 56.0884 85.1993 55.7639 85.1993C55.5891 85.1993 55.3895 85.2241 55.2147 85.3235C55.1898 85.3235 55.1648 85.3484 55.1149 85.3732C55.065 85.3235 55.015 85.249 54.9651 85.1993C54.9651 85.1496 54.9651 85.0751 54.9651 85.0254C54.9901 84.5284 55.015 84.0315 54.9651 83.4849C54.8653 82.7146 54.9901 82.491 54.9651 82.491C54.9651 82.491 55.2397 82.4165 56.0634 82.7643C58.1602 83.6836 60.3568 83.8327 62.7281 83.2115C64.076 82.8637 65.4988 82.6401 67.0215 82.4413C67.321 82.3916 67.5956 82.3668 67.8951 82.3171C67.7204 82.9382 67.6954 83.5594 67.8203 84.1557L67.8452 84.1806ZM111.029 103.039C110.105 103.462 109.156 103.909 108.283 104.555C107.459 105.176 106.486 105.499 105.487 105.872C104.813 106.12 104.114 106.344 103.44 106.692C101.618 107.611 99.696 108.406 97.8489 109.201C97.4245 109.375 97.0002 109.574 96.5509 109.748C96.5509 109.325 96.5509 109.077 96.7755 108.828C99.721 104.928 102.641 100.878 105.737 96.4797C106.311 95.6597 106.386 95.6846 107.01 96.0324C110.554 98.0947 113.849 96.9766 116.894 95.4858C117.194 95.3367 117.494 95.1628 117.793 95.0137C118.991 94.3429 120.04 93.7714 121.263 94.1689L121.612 94.7404C121.487 95.1876 121.562 95.5603 121.787 95.8337C121.962 96.0324 122.186 96.1815 122.461 96.2312C122.461 96.3057 122.461 96.3803 122.461 96.43C122.461 96.43 122.411 96.5045 122.211 96.6039C120.838 97.2748 120.239 98.6413 119.74 99.8837L119.216 100.008C116.869 99.8588 115.172 100.256 114.149 101.225C113.25 102.07 112.177 102.567 111.053 103.089L111.029 103.039ZM120.639 80.876C118.991 80.8511 117.319 80.8263 115.671 80.8263C115.172 80.8263 114.224 80.9257 113.575 81.5717C113.2 81.9444 113 82.4413 113.025 82.9879C113.025 83.4849 113.175 83.8824 113.475 84.1309C113.899 84.5284 114.448 84.4787 114.848 84.4539C114.972 84.4539 115.172 84.4539 115.247 84.4539C116.745 84.9011 118.192 84.9757 119.615 85.0502C120.239 85.0751 120.888 85.1247 121.487 85.1744C121.562 85.1744 121.637 85.1744 121.662 85.1993C121.612 85.3484 121.487 85.572 121.412 85.6962L121.338 85.8453C121.238 86.0441 121.063 86.2428 120.913 86.4416C120.514 86.9386 120.015 87.5597 120.015 88.4542C119.865 88.7772 119.715 89.0008 119.54 89.1251C118.167 89.2493 116.845 89.7711 115.547 90.7152L114.898 91.1376L110.33 92.5787C110.33 92.5787 110.13 92.5291 110.08 92.5291C109.656 92.2309 109.082 91.8333 108.308 91.9079L107.684 91.6346C105.712 89.8705 103.615 88.9014 101.343 88.7027C101.119 88.2803 100.744 88.0815 100.42 87.9324C100.37 87.6591 100.245 87.4106 100.07 87.2119C99.7709 86.8889 99.3216 86.6901 98.7475 86.6652C97.8988 86.6404 97.1749 86.2677 96.3512 85.8204C96.2264 85.7459 96.0766 85.6962 95.9518 85.6217C96.5509 85.0502 97.2747 84.6527 98.0236 84.2551C98.7475 83.8576 99.4963 83.46 100.145 82.8637C102.017 81.199 104.164 79.3355 106.336 78.9131C107.234 78.7391 108.183 78.5155 109.057 78.2671C112.252 77.4471 115.297 76.652 118.292 78.5404C118.442 78.6398 118.567 78.6646 118.692 78.6646L118.991 78.8882C119.341 79.5094 119.84 80.2796 120.639 80.8014V80.876ZM118.467 108.332C118.792 107.909 119.141 107.512 119.49 107.089C120.289 106.17 121.113 105.201 121.662 104.008C122.436 103.66 122.611 102.89 122.686 102.443C123.185 101.424 124.083 100.728 125.032 100.008C125.856 99.3867 126.704 98.7159 127.353 97.8214L130.548 96.107C130.548 96.107 130.523 96.1815 130.498 96.2312C128.452 97.8214 126.929 99.8837 125.456 101.871L125.356 102.02C124.907 102.617 124.907 103.437 124.882 104.033C124.882 104.928 125.381 105.598 126.18 105.698C127.004 105.822 127.428 105.275 127.653 104.952L127.753 104.828C128.077 104.431 128.352 104.008 128.626 103.586C129.25 102.642 129.849 101.747 130.773 101.225C131.247 101.548 131.796 101.772 132.346 101.573C133.044 101.325 133.194 100.579 133.319 100.033C133.344 99.9085 133.394 99.7346 133.419 99.6104C133.793 99.4861 134.018 99.2625 134.143 99.0886C134.342 98.7904 134.417 98.3929 134.367 97.9456L134.617 96.2561C134.617 96.2561 134.842 96.1318 134.942 96.0573C134.991 96.0324 135.041 95.9827 135.091 95.9579C135.391 96.5045 135.84 96.8524 136.215 97.1505C136.589 97.4487 136.839 97.6475 136.938 97.8959C136.689 98.5668 136.839 99.188 136.988 99.66C136.689 101.101 136.389 102.443 135.191 102.915C134.318 103.263 133.469 103.66 132.645 104.033C130.723 104.928 128.901 105.747 126.879 106.195C124.857 106.617 122.311 107.313 120.464 108.754C119.69 109.35 118.866 109.499 117.993 109.673C117.868 109.673 117.743 109.723 117.618 109.748C117.868 109.251 118.118 108.804 118.442 108.381L118.467 108.332ZM137.113 83.1122C137.113 83.1122 137.113 83.2115 137.113 83.2612C136.464 82.8885 135.79 82.814 135.191 82.814C134.892 82.814 134.617 82.814 134.342 82.8637C133.793 82.9134 133.244 82.9382 132.77 82.7892C132.445 82.6898 132.096 82.5407 131.722 82.3916C130.623 81.9444 129.3 81.3729 127.803 82.2177C127.528 81.4723 127.653 80.8511 128.177 80.2548L128.626 79.9318C129.575 79.8075 130.174 79.2361 130.324 78.3168C130.673 77.9192 130.748 77.4223 130.798 77.0993V77.0496C131.522 76.6272 131.472 75.8072 131.447 75.4842C131.447 75.3848 131.447 75.2606 131.447 75.2109L131.497 75.0867C132.096 77.2483 133.669 78.6398 136.339 79.3355C136.489 79.3852 136.539 79.4597 136.714 79.8324C136.839 80.1306 137.013 80.6026 137.438 80.876V81.8201C137.163 82.2922 137.138 82.7643 137.113 83.137V83.1122ZM142.18 71.4839L142.056 71.956C141.681 72.7511 141.132 73.3474 140.433 73.7201C140.233 73.4965 139.984 73.3474 139.759 73.248V73.0493C139.859 72.2542 139.534 71.8318 139.185 71.6081L139.06 70.8628C139.035 70.664 139.01 70.4404 138.985 70.2416C138.91 69.4713 138.811 68.5272 138.112 67.7818C138.112 67.6824 138.112 67.6078 138.112 67.5085C138.112 65.968 138.162 64.2535 136.963 62.7627C136.889 62.2658 136.664 61.8683 136.339 61.6198C136.09 61.4459 135.64 61.2471 135.016 61.421C133.943 61.7192 133.544 62.564 133.793 63.9554L134.043 65.2971C134.542 68.0551 135.041 70.9124 135.94 73.6456C135.99 73.7947 136.04 73.9437 136.09 74.1177C136.215 74.4655 136.489 75.2109 136.414 75.4097C136.015 75.5836 135.616 75.1861 134.917 73.894C134.193 72.5523 133.369 71.1609 132.096 70.0677C131.871 69.1235 131.422 68.3532 130.973 67.583C130.523 66.8376 130.124 66.117 129.974 65.3219C129.974 65.2474 129.999 65.1729 130.024 65.0983C130.174 64.4772 130.399 63.4584 129.55 62.6882V62.1416C129.999 61.7937 130.074 61.2471 130.099 60.9489V60.8495C130.274 59.7314 130.673 58.663 131.098 57.5449C131.422 56.7001 131.746 55.8057 131.971 54.8615C132.321 53.4452 133.344 52.1284 134.442 50.7618C134.667 50.4885 134.867 50.2152 135.091 49.9419C135.166 49.9915 135.266 50.0412 135.366 50.0909C136.464 52.7247 137.787 55.7063 139.534 58.4643C139.584 59.6818 140.458 60.2284 141.132 60.5017C141.132 61.1974 141.407 61.5949 141.756 61.8186L142.405 68.3035C141.956 69.2974 141.831 70.341 142.105 71.4342L142.18 71.4839Z" fill="#0F3AAF"/>
                <path d="M45.6045 135.365C46.3284 135.365 46.8526 135.141 47.1771 134.719C47.4766 134.296 47.5515 133.75 47.3269 133.104C47.0523 132.234 46.5531 130.644 45.1552 130.023C44.1817 129.6 43.4828 128.88 42.7589 128.085C42.6591 127.985 42.5842 127.886 42.4843 127.786L42.3595 127.116L42.1349 126.693V125.128C42.6591 124.407 42.9586 123.587 43.2581 122.817C43.333 122.594 43.4079 122.395 43.5078 122.171L43.6076 121.948C43.8572 121.277 44.032 120.904 44.4813 120.755C45.9041 120.283 45.929 119.065 45.954 118.345C45.954 118.196 45.954 118.047 45.954 117.898C46.0039 117.5 45.8791 117.127 45.6045 116.829C45.33 116.531 44.9306 116.407 44.4813 116.432C43.5577 116.506 42.3096 116.605 41.5608 117.748C39.1645 121.351 37.2175 125.376 39.1146 130.271C39.8884 132.234 43.5577 135.34 45.6045 135.34V135.365Z" fill="#0F3AAF"/>
                <path d="M64.3506 119.314C62.5035 120.059 61.1805 121.823 60.9808 123.811C60.7811 125.6 62.179 127.165 64.3506 127.662C64.6252 127.737 64.9247 127.861 65.2492 127.985C65.7984 128.209 66.4224 128.482 67.1713 128.482C67.2961 128.482 67.4209 128.482 67.5707 128.482L68.0949 128.333C70.1916 127.737 72.3633 127.116 74.0357 125.327C75.0092 124.258 74.9842 122.991 73.9608 121.823C71.6893 119.214 67.3959 118.121 64.3756 119.339L64.3506 119.314Z" fill="#0F3AAF"/>
            </g>
            <defs>
                <clipPath id="clip0_5974_11">
                <rect width="178" height="158" fill="white"/>
                </clipPath>
            </defs>
        </svg>
    </div>
    <p class="font-acorn-semibold text-[40px] text-center mt-4 mb-6">Producer Partners</p>

    <!-- Producer Countries: Desktop -->
    <div id="desktopCountryStickyTab" class="desktopCountryStickyTab hidden lg:flex gap-3 items-center justify-center pt-6 pb-[50px] px-8 flex-wrap z-[10] bg-white">
            <div class="producer-country__index  transition-all duration-300 border border-black px-6 py-3 font-medium rounded-full cursor-pointer pp-country--active"  data-country-index="All">
                All
            </div>
            {% for producerCountry in shop.metaobjects.producer_country.values %}
                <div class="producer-country__index  transition-all duration-300 border border-black px-6 py-3 font-medium rounded-full cursor-pointer whitespace-nowrap" data-country-index="{{ producerCountry.country_name }}" style="background-color: {{ producerCountry.country_hexcode }};">
                    {{ producerCountry.country_name }}
                </div>
            {% endfor %}
    </div>


    <!-- Producer Countries: Mobile -->
     <div class="px-6 lg:hidden sticky z-[10] top-[88px]">
        <div class="relative z-[10]">
            <div class="producer-country__index--main transition-all duration-300 border bg-white border-black flex items-center justify-between px-6 py-3 font-medium rounded-full w-full cursor-pointer"  data-toggle="#sus--country-dropdown--mob">
                    <span>
                        All
                    </span>
                    {% render 'icon', icon: 'chevron', class: 'transition-all group-activated group-activated:rotate-180' %}
            </div>
    
            <div id="sus--country-dropdown--mob" class="absolute hidden h-[400px] overflow-y-scroll w-full bg-white rounded-[10px] border border-black mt-2 px-6 py-6 flex flex-col gap-2 activated:block" style="box-shadow: 0px 4px 22px 3px rgba(0, 0, 0, 0.07);">
                    <div class="producer-country__index transition-all duration-300 py-2 text-lg border-b border-[#DEDEDE] flex items-center gap-2 cursor-pointer whitespace-nowrap pp-country--active" data-country-index="All">
                        <div class="w-3 h-3 border border-black rounded-full"></div>
                    
                        <span>
                            All
                        </span>
                    </div>

                {% for producerCountry in shop.metaobjects.producer_country.values %}
                    <div class="producer-country__index transition-all duration-300 py-2 text-lg font-regular border-b border-[#DEDEDE] flex items-center gap-2 cursor-pointer whitespace-nowrap" data-country-index="{{ producerCountry.country_name }}">
                        <div class="w-3 h-3 rounded-full" style="background-color: {{ producerCountry.country_hexcode }};"></div>
                    
                        <span>
                            {{ producerCountry.country_name }}
                        </span>
                    </div>
                {% endfor %}
            </div>
        </div>
     </div>
    

    

    {% comment %} {% for producerPartner in shop.metaobjects.producer_partner.values %}
        {% assign partnerIndex = forloop.index %}
        <p> {{ producerPartner.partner_name }}--{{ forloop.index }}</p>
    {% endfor %} {% endcomment %}

    <!-- Country Wise Partners -->
    <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 gap-6 lg:gap-y-12 px-6 lg:px-8 mt-4" style="transition: all 0.5s ease;">
    {% for producerCountry in shop.metaobjects.producer_country.values %}
        {% assign countryIndex = forloop.index %}
        {% assign produceCountryPartners = producerCountry.producer_partners.value %}
            {% for producerPartner in produceCountryPartners %}
                {% assign partnerIndex = forloop.index %}
                <!-- Producer Partner -->
                <div class="producer-country__partner border border-black flex flex-col justify-between"  data-country-name="{{ producerCountry.country_name }}" style="transition: all 0.5s ease; background-color: {{ producerCountry.country_hexcode }};">
                    <!-- Producer Partner: Card Details -->
                    <div class="flex flex-col h-full">
                        <!-- Partner Card: Partner Header -->
                        <div class="px-4 py-5 lg:px-5 lg:py-6 flex items-center gap-[22px]">
                            <div class="card-image-container w-[110px] h-[96px]_ rounded-full_ overflow-hidden flex-shrink-0 aspect-[1/1]">
                                <div class="sus-card__image h-full">
                                    <svg width="0" height="0" viewBox="0 0 125 97" xmlns="http://www.w3.org/2000/svg">
                                        <defs>
                                            <clipPath id="cardClipPath--{{ countryIndex }}--{{ partnerIndex }}" clipPathUnits="objectBoundingBox" transform="scale(0.008, 0.0103)">
                                                <path d="M124.95 30.2942C124.95 13.59 107.795 0 86.7108 0C77.5207 0 69.08 2.58042 62.4749 6.87541C55.8738 2.58042 47.433 0 38.243 0C17.155 0 0 13.59 0 30.2942C0 37.0533 2.81093 43.3024 7.54869 48.3469C2.81093 53.3914 0 59.6405 0 66.3961C0 83.1004 17.155 96.6904 38.243 96.6904C47.433 96.6904 55.8738 94.11 62.4749 89.815C69.076 94.11 77.5207 96.6904 86.7108 96.6904C107.799 96.6904 124.954 83.1004 124.954 66.3961C124.954 59.6371 122.143 53.388 117.405 48.3435C122.147 43.299 124.954 37.0499 124.954 30.2908L124.95 30.2942Z" fill="#264133"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    {% if producerCountry.country_image %}
                                        <img src="{{ producerCountry.country_image | img_url: 'master' }}" alt="{{ producerPartner.partner_name }}" style="clip-path: url(#cardClipPath--{{ countryIndex }}--{{ partnerIndex }}); width: 100%; height: 100%; object-fit: cover;">
                                    {% else %}
                                        <img src="https://cdn.shopify.com/s/files/1/0249/4283/7837/files/country-placeholder-image.png?v=1716583172" alt="{{ producerPartner.partner_name }}" style="clip-path: url(#cardClipPath--{{ countryIndex }}--{{ partnerIndex }}); width: 100%; height: 100%; object-fit: cover;">
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <h4 class="font-acorn-semibold text-2xl mb-2 leading-none">
                                    {{ producerPartner.partner_name }}
                                </h4>
    
                                <p class="uppercase text-sm font-medium">{{ producerPartner.partner_country }}</p>
                            </div> 
                        </div>
                        

                        <!-- Partner Card: Partner Details -->
                        <div class="px-3 py-4 bg-white rounded-[16px] h-full">
                            <!-- Partner Info -->   
                            {% comment %} {{ prodInfo['Sold As'] | json }} {% endcomment %}
                            <div class="pb-2">
                                {%  assign producerInfo = producerPartner.partner_info.value  %}
                            
                                <div class="flex items-center justify-between">
                                    <div class="producer-year__dropdown relative">
                                        <!-- Year Selector -->
                                        <button class="sus--year-selector min-w-[125px] border border-black group rounded-full px-4 py-2 flex items-center justify-between gap-[38px]"  data-toggle="#sus--producer-dropdown--{{ countryIndex }}--{{ partnerIndex }}">
                                            <span class="text-lg font-medium leading-none">
                                                {{ producerInfo.producerInfo[0].year }}
                                            </span>

                                            {% render 'icon', icon: 'chevron', class: 'transition-all group-activated group-activated:rotate-180' %}
                                        </button>
        

                                        <!-- Year Dropdown -->
                                        <div  id="sus--producer-dropdown--{{ countryIndex }}--{{ partnerIndex }}" class="absolute hidden w-full bg-white rounded-[8px] border border-black mt-2 px-4 py-4 flex flex-col gap-2 activated:block" style="background-color: {{ producerCountry.country_hexcode }};">

                                            <script type="application/json" data-producer-info>
                                                {{ producerInfo | json }}
                                            </script>
                                            {% for prodInfo in  producerInfo.producerInfo  %}
                                                <div class="producer-year producer-year__{{ forloop.index }} cursor-pointer {% if  forloop.first %} font-bold {% endif %}" data-year-index="{{ forloop.index }}" data-year-info="{{ prodInfo.year }}">
                                                    <span>{{ prodInfo.year }}</span> 
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <p class="polygon-banner px-5 py-1 text-[12px] font-medium font-variant-lining">
                                        <span class="uppercase">Partner since </span> {{ producerPartner.partner_since }}
                                    </p>

                                </div>
                                

    
                                
                                <!-- Producer Data -->
                                <div class="producer-year__data">
                                    <div class="mt-3 lg:mt-5  pb-3 border-b border-black flex items-end justify-between leading-none gap-3">
                                        <p class="uppercase font-regular text-sm">weighted <br/> average fob price</p>
                                        <p class="pp__fob-price-data text-base font-acorn-semibold">
                                            {{ producerInfo.producerInfo[0]['Weighted Average FOB'] }}
                                        </p>
                                    </div>
                                    <div class="mt-3 lg:mt-5  pb-3 border-b border-black flex items-end justify-between leading-none gap-3">
                                        <p class="uppercase font-regular text-sm">fob price range</p>
                                        <p class="pp__fob-range-data text-base font-acorn-semibold">
                                            {{ producerInfo.producerInfo[0]['FOB Price Range'] }}
                                        </p>
                                    </div>
                                    <div class="mt-3 lg:mt-5  pb-3 border-b border-black flex items-end justify-between leading-none gap-3">
                                        <p class="uppercase font-regular text-sm">pounds purchased</p>
                                        <p class="pp__lb-purchased-data text-base font-acorn-semibold">
                                            {{ producerInfo.producerInfo[0]['Pounds Purchased'] }}
                                        </p>
                                    </div>
                                    <div class="mt-3 lg:mt-5  pb-3 border-b border-black flex items-end justify-between leading-none gap-3">
                                        <p class="uppercase font-regular text-sm">quality score</p>
                                        <p class="pp__quality-score-data text-base font-acorn-semibold">
                                            {{ producerInfo.producerInfo[0]['Quality Score'] }}
                                        </p>
                                    </div>

                                    <div class="mt-7 pb-3 leading-none gap-3">
                                        <p class="font-acorn-semibold mb-2 text-lg whitespace-nowrap">Sold As</p>
                                        <div class="pp__sold-as-data flex flex-wrap gap-x-2 gap-y-3 text-sm">

                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    
                    <!-- Producer Partner: Popup Open button -->
                    <div class="producer-partner__add-info px-6 py-5">
                        <button class="producer-partner__popup--open btn btn-secondary w-full text-base font-regular">Learn More</button>
                    </div> 



                    <!-- Producer Partner: Fixed Popup -->
                    <div class="producer-partner__popup fixed w-screen h-screen top-0 left-0 z-[100] hidden">
                        <div class="opacity-60 cursor-pointer bg-black fixed top-0 bottom-0 left-0 h-screen w-screen z-[40]"></div>

                        <!-- Popup Close -->
                        <div class="absolute bg-white bg-white border border-black w-full lg:w-[80vw] h-[90vh] lg:h-[75vh] bottom-0 lg:bottom-unset lg:top-1/2 left-0 lg:left-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2 z-[50]">
                            <div class="absolute right-4 top-4 cursor-pointer producer-partner__popup--close z-[20]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                    <rect x="1.0957" y="0.918945" width="27.812" height="1.32438" rx="0.66219" transform="rotate(45 1.0957 0.918945)" fill="black"/>
                                    <rect x="21.1631" y="1.72168" width="27.812" height="1.32438" rx="0.66219" transform="rotate(135 21.1631 1.72168)" fill="black"/>
                                </svg>
                            </div>

                            <div class="absolute hidden lg:block top-[25%] left-1/2 -translate-x-1/2 z-[10]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="81" height="70" viewBox="0 0 81 70" fill="none">
                                    <g clip-path="url(#clip0_6562_3405)">
                                    <path d="M19.0001 31C19.0001 31 37.7458 50.5863 75.8585 45.7852" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M61.0575 55.8638L75.8539 45.7871L60.3351 34.6416" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_6562_3405">
                                        <rect width="75.3964" height="31.0918" fill="white" transform="matrix(-0.801271 -0.598301 -0.634604 0.772838 80.144 45.1094)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </div>

                            <div class="grid grid-cols-1 lg:grid-cols-2 w-full h-full overflow-hidden_ relative">
                                <!-- Popup Image Details -->
                                <div class="hidden lg:block border-r border-black h-full overflow-y-scroll px-[80px] py-[60px] relative" style="background-color: {{ producerCountry.country_hexcode }};">
                                    
                                    <div class="sus-popup__image px-4">
                                        <svg width="0" height="0" viewBox="0 0 302 234" xmlns="http://www.w3.org/2000/svg">
                                            <defs>
                                                <clipPath id="myClipPath--{{ countryIndex }}--{{ partnerIndex }}" clipPathUnits="objectBoundingBox">
                                                    <path d="M0.998 0.312C0.998 0.14 0.86 0 0.693 0C0.62 0 0.55 0.027 0.497 0.072C0.444 0.027 0.374 0 0.301 0C0.134 0 0 0.14 0 0.312C0 0.38 0.022 0.446 0.06 0.497C0.022 0.548 0 0.614 0 0.683C0 0.855 0.134 0.995 0.301 0.995C0.374 0.995 0.444 0.968 0.497 0.923C0.55 0.968 0.62 0.995 0.693 0.995C0.86 0.995 0.998 0.855 0.998 0.683C0.998 0.615 0.976 0.549 0.938 0.497C0.976 0.446 0.998 0.38 0.998 0.312Z" fill="#264133"/>
                                                </clipPath>
                                            </defs>
                                        </svg>


                                        <div class="popup-image-container">
                                            {% if producerPartner.partner_image %}
                                                <img class="w-full object-cover overflow-hidden mb-12 apple-clipped-image aspect-[4/3]" src="{{ producerPartner.partner_image | img_url: 'master' }}" alt="Partner Image" style="clip-path: url(#myClipPath--{{ countryIndex }}--{{ partnerIndex }});">
                                            {% else %}
                                                <img class="w-full object-cover overflow-hidden mb-12 apple-clipped-image aspect-[4/3]" src="https://cdn.shopify.com/s/files/1/0249/4283/7837/files/Mountain_Harvest1.jpg?v=1716325744" alt="placeholder" style="clip-path: url(#myClipPath--{{ countryIndex }}--{{ partnerIndex }});">
                                            {% endif %}
                                        </div>
                                        
                                    </div>
                                    

                                    <h5 class="font-acorn-semibold mb-2 text-[38px] text-center">{{ producerPartner.partner_name }}</h5>
                                    <p class="mb-3 uppercase text-sm text-center">{{ producerPartner.partner_country }}</p>


                                    <div class="flex justify-center">
                                        <p class="polygon-banner px-5 py-1 text-[12px] font-medium font-variant-lining ">
                                            <span class="uppercase">Partner since </span> {{ producerPartner.partner_since }}
                                        </p>
                                    </div>

                                    
                                    
                                </div>


                                <!-- Popup Partner Data -->
                                <div class="h-full overflow-y-scroll 
                                    [&::-webkit-scrollbar]:w-2
                                    [&::-webkit-scrollbar-track]:rounded-full
                                    [&::-webkit-scrollbar-track]:bg-gray-100
                                    [&::-webkit-scrollbar-thumb]:rounded-full
                                    [&::-webkit-scrollbar-thumb]:bg-gray-300
                                    dark:[&::-webkit-scrollbar-track]:bg-neutral-900
                                    dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500
                                ">
                                    <div class="absolute top-0 px-6 py-5 z-[10] w-full lg:hidden" style="background-color: {{ producerCountry.country_hexcode }};">
                                        <h5 class="font-acorn-semibold mb-2 text-[38px] text-left leading-none">{{ producerPartner.partner_name }}</h5>
                                        <p class=" uppercase text-sm text-left leading-none">{{ producerPartner.partner_country }}</p>
                                    </div>

                                    <!-- Partner Image Details <Mobile Only> -->
                                    <div class="mb-[136px] px-6 py-5 pb-[148px] relative lg:hidden" style="background-color: {{ producerCountry.country_hexcode }};">
                                        
                                        
                                        <div class="opacity-0 px-6 pt-5 w-full" style="background-color: {{ producerCountry.country_hexcode }};">
                                            <h5 class="font-acorn-semibold mb-2 text-[38px] text-left leading-none">{{ producerPartner.partner_name }}</h5>
                                            <p class="uppercase text-sm text-left leading-none">{{ producerPartner.partner_country }}</p>
                                        </div>

                                        <div class="flex justify-left">
                                            <p class="polygon-banner px-5 py-1 text-[12px] font-medium font-variant-lining ">
                                                <span class="uppercase">Partner since </span> {{ producerPartner.partner_since }}
                                            </p>
                                        </div>


                                        <div class="absolute bottom-0 left-1/2 translate-y-1/2 -translate-x-1/2 w-full">
                                            <div class="sus-popup__image--mob px-0 max-w-[300px] mx-auto">
                                                <svg width="0" height="0" viewBox="0 0 302 234" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <clipPath id="myClipPath--{{ countryIndex }}--{{ partnerIndex }}--mob" clipPathUnits="objectBoundingBox">
                                                            <path d="M0.998 0.312C0.998 0.14 0.86 0 0.693 0C0.62 0 0.55 0.027 0.497 0.072C0.444 0.027 0.374 0 0.301 0C0.134 0 0 0.14 0 0.312C0 0.38 0.022 0.446 0.06 0.497C0.022 0.548 0 0.614 0 0.683C0 0.855 0.134 0.995 0.301 0.995C0.374 0.995 0.444 0.968 0.497 0.923C0.55 0.968 0.62 0.995 0.693 0.995C0.86 0.995 0.998 0.855 0.998 0.683C0.998 0.615 0.976 0.549 0.938 0.497C0.976 0.446 0.998 0.38 0.998 0.312Z" fill="#264133"/>
                                                        </clipPath>
                                                    </defs>
                                                </svg>


                                                <div class="popup-image-container">
                                                    {% if producerPartner.partner_image %}
                                                        <img class="w-full object-cover overflow-hidden apple-clipped-image aspect-[4/3]" src="{{ producerPartner.partner_image | img_url: 'master' }}" alt="placeholder" style="clip-path: url(#myClipPath--{{ countryIndex }}--{{ partnerIndex }}--mob);">
                                                    {% else %}
                                                        <img class="w-full object-cover overflow-hidden apple-clipped-image aspect-[4/3]" src="https://cdn.shopify.com/s/files/1/0249/4283/7837/files/Mountain_Harvest1.jpg?v=1716325744" alt="placeholder" style="clip-path: url(#myClipPath--{{ countryIndex }}--{{ partnerIndex }}--mob);">
                                                    {% endif %}
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Partner Description -->
                                    <div class="px-6 lg:px-14 lg:py-16">
                                      
                                        {% if producerPartner.partner_story != blank %}
                                            <div class="story_text_desc text-base lg:text-lg font-freight-sans font-medium tracking-wide text-left mb-4">{{ producerPartner.partner_story | metafield_tag }}</div>

                                            <button id="story-show-more-button--{{ countryIndex }}--{{ partnerIndex }}" class="story-show-more-button text-sm font-medium underline mb-2 hidden">
                                                KNOW MORE
                                            </button>

                                        {% endif %}

                                        {% if producerPartner.elevation != blank %}
                                            <p>
                                                <span class="font-acorn-semibold">Elevation:</span> {{ producerPartner.elevation }}
                                            </p>
                                        {% endif %}
                                    </div>
                                   

                                    <!-- Accordion -->
                                    {% assign accordion_titles = "Sold As, Location, Purchasing Data, Seeds Project" | split: ", " %}
                                    <dl class="animate animate-fadeIn js-expandable-group">

                                        {%- for group in accordion_titles -%}
                                            {% capture group_content %}
                                                <div class="px-6 py-4 lg:p-8">
                                                    
                                                </div>
                                            {% endcapture %}
                                            {% assign group_id = group | append: countryIndex | append: partnerIndex | handleize %}

                                            {%- case group -%}
                                                {%- when 'Location' -%}
                                                    {% capture group_content %}
                                                        {% if producerPartner.partnership_location_map %}
                                                            <div class="px-6 py-4 lg:p-8">
                                                                <img src="{{ producerPartner.partnership_location_map | img_url: 'master' }}" alt="{{ producerPartner.partner_name }}">
                                                            </div>
                                                        {% endif %}
                                                    {% endcapture %}
                                                {%- when 'Seeds Project' -%}
                                                    {% capture group_content %}
                                                        {% if producerPartner.seeds_project %}
                                                            <div class="px-6 py-4 lg:p-8">
                                                            {{ producerPartner.seeds_project | metafield_tag }}
                                                            </div>
                                                        {% endif %}
                                                    {% endcapture %}
                                                {%- when 'Sold As' -%}
                                                    {% capture group_content %}
                                                        <div class="px-6 py-4 lg:p-8">
                                                            <p class="text-sm font-light mb-3">CHOOSE YEAR</p>

                                                            <div class="producer-year__dropdown relative w-fit mb-6">
                                                                <!-- Year Selector: Popup [Purchasing Data] -->
                                                                <button class="sus--year-selector min-w-[125px] border border-black group rounded-full px-4 py-2 flex items-center justify-between gap-[38px]"  data-toggle="#sus--producer-dropdown--{{ countryIndex }}--{{ partnerIndex }}--popup-prod">
                                                                    <span class="text-lg font-medium leading-none">
                                                                        {{ producerInfo.producerInfo[0].year }}
                                                                    </span>

                                                                    {% render 'icon', icon: 'chevron', class: 'transition-all group-activated group-activated:rotate-180' %}
                                                                </button>
                                

                                                                <!-- Year Dropdown: Popup [Purchasing Data] -->
                                                                <div  id="sus--producer-dropdown--{{ countryIndex }}--{{ partnerIndex }}--popup-prod" class="absolute hidden w-full bg-white rounded-[8px] border border-black mt-2 px-4 py-4 flex flex-col gap-2 activated:block" style="background-color: {{ producerCountry.country_hexcode }};">
                                                                    <script type="application/json" data-producer-info>
                                                                        {{ producerInfo | json }}
                                                                    </script>
                                                                    {% for prodInfo in  producerInfo.producerInfo  %}
                                                                        <div class="producer-year producer-dropdown-product--popup producer-year__{{ forloop.index }} cursor-pointer {% if  forloop.first %} font-bold {% endif %}" data-year-index="{{ forloop.index }}" data-year-info="{{ prodInfo.year }}">
                                                                            <span>{{ prodInfo.year }}</span> 
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>

                                                            <div class="pp__sold-as-data pp-prod-data--popup grid grid-cols-3 lg:grid-cols-4 gap-2 lg:gap-5">

                                                            </div>
                                                        </div>
                                                        
                                                    {% endcapture %}
                                                {%- when 'Purchasing Data' -%}
                                                    {% capture group_content %}
                                                        <div class="px-6 py-4 lg:p-8">
                                                            <p class="text-sm font-light mb-3">CHOOSE YEAR</p>
                                                            <div class="flex">
                                                                <div class="producer-year__dropdown relative w-fit">
                                                                    <!-- Year Selector: Popup [Purchasing Data] -->
                                                                    <button class="sus--year-selector min-w-[125px] border border-black group rounded-full px-4 py-2 flex items-center justify-between gap-[38px]"  data-toggle="#sus--producer-dropdown--{{ countryIndex }}--{{ partnerIndex }}--popup-data">
                                                                        <span class="text-lg font-medium leading-none">
                                                                            {{ producerInfo.producerInfo[0].year }}
                                                                        </span>

                                                                        {% render 'icon', icon: 'chevron', class: 'transition-all group-activated group-activated:rotate-180' %}
                                                                    </button>
                                    

                                                                    <!-- Year Dropdown: Popup [Purchasing Data] -->
                                                                    <div  id="sus--producer-dropdown--{{ countryIndex }}--{{ partnerIndex }}--popup-data" class="absolute hidden w-full bg-white rounded-[8px] border border-black mt-2 px-4 py-4 flex flex-col gap-2 activated:block" style="background-color: {{ producerCountry.country_hexcode }};">

                                                                        <script type="application/json" data-producer-info>
                                                                            {{ producerInfo | json }}
                                                                        </script>
                                                                        {% for prodInfo in  producerInfo.producerInfo  %}
                                                                            <div class="producer-year producer-year__{{ forloop.index }} cursor-pointer {% if  forloop.first %} font-bold {% endif %}" data-year-index="{{ forloop.index }}" data-year-info="{{ prodInfo.year }}">
                                                                                <span>{{ prodInfo.year }}</span> 
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            
                                                            <!-- Producer Data: Popup -->
                                                            <div class="producer-year__data grid grid-cols-1 lg:grid-cols-2 gap-x-[40px] ">
                                                                <div class="mt-3 lg:mt-5  pb-3 border-b border-black flex items-end justify-between leading-none gap-3">
                                                                    <p class="uppercase font-regular text-sm">weighted <br/> average fob price</p>
                                                                    <p class="pp__fob-price-data text-base font-acorn-semibold">
                                                                        {{ producerInfo.producerInfo[0]['Weighted Average FOB'] }}
                                                                    </p>
                                                                </div>
                                                                <div class="mt-3 lg:mt-5  pb-3 border-b border-black flex items-end justify-between leading-none gap-3">
                                                                    <p class="uppercase font-regular text-sm">fob price range</p>
                                                                    <p class="pp__fob-range-data text-base font-acorn-semibold">
                                                                        {{ producerInfo.producerInfo[0]['FOB Price Range'] }}
                                                                    </p>
                                                                </div>
                                                                <div class="mt-3 lg:mt-5  pb-3 border-b border-black flex items-end justify-between leading-none gap-3">
                                                                    <p class="uppercase font-regular text-sm">pounds purchased</p>
                                                                    <p class="pp__lb-purchased-data text-base font-acorn-semibold">
                                                                        {{ producerInfo.producerInfo[0]['Pounds Purchased'] }}
                                                                    </p>
                                                                </div>
                                                                <div class="mt-3 lg:mt-5  pb-3 border-b border-black flex items-end justify-between leading-none gap-3">
                                                                    <p class="uppercase font-regular text-sm">quality score</p>
                                                                    <p class="pp__quality-score-data text-base font-acorn-semibold">
                                                                        {{ producerInfo.producerInfo[0]['Quality Score'] }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    {% endcapture %}
                
                                            {%- endcase -%}


                                            {% assign group_content = group_content | strip %}

                                            {%- unless group_content == "" -%}
                                                {%
                                                    render 'expandable-faq',
                                                    question: group,
                                                    answer: group_content,
                                                    label: group,
                                                    id: group_id,
                                                    forloop: forloop,
                                                    active: false,
                                                    theme_style: "Product"
                                                %}
                                            {%- endunless -%}
                                        {%- endfor -%}
                                    </dl>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% endfor %}
    </div>

   
</section>

<style>
    
    .pp-country--active{
        font-weight: 600
    }

    @media (min-width: 1024px) {
        .pp-country--active{
            background-color: black !important;
            color: white !important;
            font-weight: 500 !important
        }
    }
    

    .desktopCountryStickyTab{
        position: sticky;
        transition: .3s ease-in-out;
        top: 78px;
       
    }
    .desktopCountryStickyTab.active{
        background-color: #F7F5F1;
        box-shadow: 0px -26px 70px 63px rgba(0, 0, 0, 0.10);
    }

    .desktopCountryStickyTab.stuck{
        background-color: #fff;
        box-shadow: none;
    }


    /* .sus-popup__image .image-container {
        width: 100%;
        max-width: 600px; 
        margin: 0 auto; 
    } */

    /* .sus-popup__image .apple-clipped-image {
        width: 100%;
        clip-path: url(#myClipPath);
    } */
</style>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>  
  const stickyElement = document.getElementById('desktopCountryStickyTab');
//   console.log(stickyElement);

// Listen for scroll events
window.addEventListener('scroll', () => {
      const rect = stickyElement.getBoundingClientRect();

      // Check if the element is stuck at 78px from the top of the viewport
      if (rect.top <= 78) {
        stickyElement.classList.add('active'); // Apply 'active' class when sticky
        //console.log('Element is stuck');
      } else {
        stickyElement.classList.remove('active'); // Remove 'active' class when not sticky
        //console.log('Element is not stuck');
      }
    });







    //Country Filters
    $('.producer-country__index').each(function(){
        $(this).on('click', function() {
           

            $(this).siblings().removeClass('pp-country--active')
            $(this).addClass('pp-country--active')
            


            let selectedCountryIndex = $(this).attr('data-country-index');
            console.log(selectedCountryIndex)

            //For Mobile
            $(this).parents().siblings('.producer-country__index--main').children('span').html(selectedCountryIndex)
            $(this).parents().siblings('.producer-country__index--main').trigger('click')




            let allCountryPartners = $('.producer-country__partner')
            let selectedCountryPartners = $('.producer-country__partner').filter(`[data-country-name="${selectedCountryIndex}"]`);
            //console.log(selectedCountryPartners)


            if(selectedCountryIndex == 'All'){
                allCountryPartners.removeClass('hidden')
            }
            else{
                allCountryPartners.addClass('hidden')
                selectedCountryPartners.removeClass('hidden').addClass('flex')
            }
            


        })
    })




    // Add the Products data to each producer
    $('.producer-country__partner').each(function(index) {
        let partnerMetaData = $(this).find('script[data-producer-info]');
        let partnerInfo = JSON.parse(partnerMetaData.html());

        console.log('products from the latest year ==> ', partnerInfo.producerInfo[0]['Sold As'])

        let firstSoldAsDataElem = $(this).find('.pp__sold-as-data');
        let firstSoldAsDataElemPopup = $(this).find('.pp__sold-as-data.pp-prod-data--popup');
        //console.log('Sold As Data', index, '====>', firstSoldAsDataElem)

        let firstProdData = '';
        let firstProdDataPopup = '';

        let firstSoldAsProds = partnerInfo.producerInfo[0]['Sold As'];
        let fetchPromises = []; // Array to store fetch promises
            firstSoldAsProds.forEach(productHandle => {
                let fetchPromise = fetch(window.Shopify.routes.root + 'products/' + productHandle + '.js')
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } 
                        else {
                            throw new Error(`Product handle not found: ${productHandle}`);
                        }
                    })
                    .then(product => {
                        //console.log('product ===> ', product)
                        let productTitleFromHandle = product.title; // Assign the title to the variable
                        let productPriceFromHandle = product.price;
                        let productImageFromHandle = product.featured_image;
                        const formattedPrice = (productPriceFromHandle / 100).toFixed(2);
                        firstProdData += `
                            <a href="/products/${productHandle}" target="_blank" class="inline-block border border-black px-3 py-1 leading-none rounded-full">
                                ${productTitleFromHandle}
                            </a>
                        `;
                        firstProdDataPopup += `
                            <a href="/products/${productHandle}" target="_blank" class="block border border-black p-3 leading-none rounded-[14px]">
                               <img class="w-4/5 mx-auto mb-2 min-h-[48px]" src="${productImageFromHandle}"  />
                               <p class="text-sm lg:text-base font-acorn-semibold text-center leading-none mb-2"> ${productTitleFromHandle}</p>
                               <p class="text-sm font-acorn-semibold text-center leading-none"> $${formattedPrice}</p>
                            </a>
                        `;
                    })
                    .catch(error => {
                        console.error('Error fetching product:', error);
                    });
                fetchPromises.push(fetchPromise); // Store the fetch promise
            });
            // Wait for all fetch requests to complete
            Promise.all(fetchPromises)
                .then(() => {
                    // Update the HTML with product titles after all fetch requests are finished
                    firstSoldAsDataElem.fadeOut(200, function() {
                        $(this).html(firstProdData).fadeIn(200);
                    });

                    firstSoldAsDataElemPopup.fadeOut(200, function() {
                        $(this).html(firstProdDataPopup).fadeIn(200);
                    });

                    console.log('==== UPDATED INITIAL PRODUCT LIST =====')
                });




    })


        




    //Producer year - Dropdown
    $('.producer-year').each(function() {
        $(this).on('click', function() {

            console.log($(this))

            $(this).addClass('font-bold')
            $(this).siblings().removeClass('font-bold')

            


       
            let currentSelectedDropdownIndex = $(this).attr('data-year-index')
            let currentSelectedYearInfo = $(this).attr('data-year-info')
            let producerInfoScript = $(this).siblings('script[data-producer-info]');
            let producerInfo = JSON.parse(producerInfoScript.html());

            console.log('producerInfo', producerInfo)

            $(this).parents().siblings('.sus--year-selector').children('span').html(currentSelectedYearInfo)


            let fobPriceDataElem = $(this).parents().parents('.producer-year__dropdown').parents().siblings('.producer-year__data').find('.pp__fob-price-data');
            fobPriceDataElem.fadeOut(200, function() {
                $(this).text(producerInfo.producerInfo[currentSelectedDropdownIndex - 1]['Weighted Average FOB']).fadeIn(200);
            });


            let fobRangeDataElem = $(this).parents().parents('.producer-year__dropdown').parents().siblings('.producer-year__data').find('.pp__fob-range-data');
            fobRangeDataElem.fadeOut(200, function() {
                $(this).text(producerInfo.producerInfo[currentSelectedDropdownIndex - 1]['FOB Price Range']).fadeIn(200);
            });


            let lbPurchasedDataElem = $(this).parents().parents('.producer-year__dropdown').parents().siblings('.producer-year__data').find('.pp__lb-purchased-data');
            lbPurchasedDataElem.fadeOut(200, function() {
                $(this).text(producerInfo.producerInfo[currentSelectedDropdownIndex - 1]['Pounds Purchased']).fadeIn(200);
            });


            let qualityScoreDataElem = $(this).parents().parents('.producer-year__dropdown').parents().siblings('.producer-year__data').find('.pp__quality-score-data');
            qualityScoreDataElem.fadeOut(200, function() {
                $(this).text(producerInfo.producerInfo[currentSelectedDropdownIndex - 1]['Quality Score']).fadeIn(200);
            });


            let soldAsDataElem = $(this).parents().parents('.producer-year__dropdown').parents().siblings('.producer-year__data').find('.pp__sold-as-data');
            let soldAsProdData = '';
         
            let allSoldAsProds = producerInfo.producerInfo[currentSelectedDropdownIndex - 1]['Sold As']
            console.log(allSoldAsProds)


            if($(this).hasClass('producer-dropdown-product--popup')){
                console.log('Producer Popup Year Clicked')
                soldAsDataElem = $(this).parents().parents('.producer-year__dropdown').siblings('.pp__sold-as-data.pp-prod-data--popup');
                console.log(soldAsDataElem)
                $(this).parents().siblings('.sus--year-selector').trigger('click')
            }
        


            let fetchPromises = []; // Array to store fetch promises
            allSoldAsProds.forEach(productHandle => {
                let fetchPromise = fetch(window.Shopify.routes.root + 'products/' + productHandle + '.js')
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } 
                        else {
                            throw new Error(`Product handle not found: ${productHandle}`);
                        }
                    })
                    .then(product => {
                        let productTitleFromHandle = product.title; // Assign the title to the variable
                        let productPriceFromHandle = product.price;
                        let productImageFromHandle = product.featured_image;
                        const formattedPrice = (productPriceFromHandle / 100).toFixed(2);
                        if($(this).hasClass('producer-dropdown-product--popup')){
                            soldAsProdData += `
                            <a href="/products/${productHandle}" target="_blank" class="block border border-black p-3 leading-none rounded-[14px]">
                               <img class="w-4/5 mx-auto mb-2 min-h-[48px]" src="${productImageFromHandle}"  />
                               <p class="text-sm lg:text-base font-acorn-semibold text-center leading-none mb-2"> ${productTitleFromHandle}</p>
                               <p class="text-sm font-acorn-semibold text-center leading-none"> $${formattedPrice}</p>
                            </a>
                        `;
                        }
                        else{
                            soldAsProdData += `
                            <a href="/products/${productHandle}" target="_blank" class="inline-block border border-black px-3 py-1 leading-none rounded-full">
                                ${productTitleFromHandle}
                            </a>
                        `;
                        }
                        
                    })
                    .catch(error => {
                        console.error('Error fetching product:', error);
                    });
                fetchPromises.push(fetchPromise); // Store the fetch promise
            });
            // Wait for all fetch requests to complete
            Promise.all(fetchPromises)
                .then(() => {
                    // Update the HTML with product titles after all fetch requests are finished
                    soldAsDataElem.fadeOut(200, function() {
                        $(this).html(soldAsProdData).fadeIn(200);
                    });
                });


        });
    });



    //Popup - Open and close
    $('.producer-partner__popup--open').each(function(){
        $(this).on('click', function() {
            $('body').addClass('overflow-hidden')
            $(this).parents('.producer-partner__add-info').siblings('.producer-partner__popup').removeClass('hidden')
        })
    })

    $('.producer-partner__popup--close').each(function(){
        $(this).on('click', function() {
            $('body').removeClass('overflow-hidden')
            $(this).closest('.producer-partner__popup').addClass('hidden')
        })
    })






    //Show More Button
    $('.story_text_desc').each(function() {
        var paragraphs = $(this).find('p:not(:first-of-type)');
        var showMoreButton = $(this).siblings('.story-show-more-button');

        if (paragraphs.length > 0) {
            paragraphs.hide();
            showMoreButton.removeClass('hidden');
        }

        showMoreButton.on('click', function() {
            paragraphs.show();
            $(this).hide();
        });
    });

</script>


{% schema %}
    {
      "name": "Impact page",
      "settings": [
        {
          "type": "header",
          "content": "Producer Partner Settings"
        }
      ],
      "presets": [
        {
          "name": "Impact page"
        }
      ]
    }
{% endschema %}